<article class="users">
  <header>
    <ol class="index cf">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, "##{ letter.downcase }" %></li>
      <% end %>
    </ol>
  </header>

  <% @users_letters.each do |letter, users| %>
    <h2 id="<%= letter.downcase %>" class="index-letter"><%= letter.upcase %></h2>

    <ol class="user-list">
      <% users.each do |user| %>
        <li><%= link_to user.name, user %></li>
      <% end %>
    </ol>
  <% end %>
</article>