//  NEW


.user.new {
  fieldset {
    border: 1px solid #f4f4f4;
    margin-bottom: 0.8em;
    padding: 1em;

    legend {
      padding: 0 0.4em;
    }
  }

  label {
    color: #777;
    display: block;
    float: left;
    font-size: 14px;
    width: 220px;
  }

  input[type=email],
  input[type=password],
  input[type=text],
  input[type=url],
  textarea {
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 0.4em;
    width: 480px;
  }

  textarea {
    height: 120px;
  }

  .actions {
    margin-left: 240px;

    input[type=submit] {
      padding: 1.4em 8em;
    }
  }
}