html {
  background: #E9E8E2;
}

body {
  color: #222;
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

label {
  color: #444;
  font-size: 13px;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password] {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 8px;
}

.field {
  margin-bottom: 0.8em;
}


// BANNER

#banner {
  margin: 0 auto;
  padding: 20px 0;
  width: 960px;

  h1 {
    margin: 0;
  }

  .strapline {
    color: #777;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
  }
}

// MAIN PAGE

#main {
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  margin: 0 auto 1em auto;
  padding: 20px;
  width: 920px;
}

// FOOTER

#footer {
  margin: 0 auto 4em auto;
  width: 920px;
  .login-items {
    list-style: none;
    padding: 0;
    text-align: right;
  }
}

// GENERAL
.tags {
  padding: 0;

  li {
    display: inline-block;

    a {
      background: #D5E9F6;
      color: #069;
      padding: 0.4em 0.6em;
      text-decoration: none;
    }
  }
}