// ============================================================================
// SHOW
// ============================================================================

.tag-index,
.tag-show {
  .user-list {
    list-style: none;
    padding: 0;
    .user {
      margin-bottom: 1.2em;

      .avatar {
        margin-right: 0.4em;
        vertical-align: middle;
        width: 32px;
      }
    }
  }
}

// ============================================================================
// ALL
// ============================================================================

#all-tags {
  .tags {
    li {
      display: block;
      margin-bottom: 0.4em;
      .tag {
        display: block;
        float: left;
        margin-right: 0.4em;
      }
    }

    .user-list {
      display: block;
      float: left;
      margin: 0;
      padding-left: 0;
      vertical-align: bottom;

      .user {
        display: block;
        float: left;
        margin: 0 0.2em 0 0;
        a {
          display: block;
          .avatar {
            display: block;
          }
        }
      }
    }
  }
}