$red: #C62E32;

// ============================================================================
// GENERAL
// ============================================================================

.user {
  .avatar {
    border-radius: 50%;
    box-shadow: 0 0 6px rgba($red, 0.25);
  }
}

// ============================================================================
// INDEX
// ============================================================================

.users {
  .index {
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin-bottom: 2em;
    padding: 0;

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0.25em 3px 0 0;
      text-decoration: none;

      &:visited {
        color: blue;
      }
      &:hover,
      &:focus {
        color: $red;
        text-decoration: underline;
      }
    }

  }

  .index-letter {
    border-bottom: 1px dashed #ccc;
    color: #777;
  }

//  .user-list {
//    list-style: none;
//    margin: 0 0 0.8em 0;
//    padding: 0;
//  }

  .user-list {
    list-style: none;
    padding: 0;
    .user {
      display: block;
      float: left;
      margin: 0 20px 0.8em 1.2em;
      width: 280px;

      &:nth-child(3n-2) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      .avatar {
        display: inline-block;
        margin-right: 0.4em;
        vertical-align: middle;
        width: 80px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}



// ============================================================================
// SHOW
// ============================================================================

article.user {
  padding-left: 120px;
  position: relative;

  header {
    margin-bottom: 20px;
  }

  .avatar {
    display: block;
    left: 0;
    position: absolute;
  }

  .name {
    margin: 0 0 0.2em 0;
  }

  .website {
    color: $red;
    display: block;
  }

  .company {
    color: #999;
    display: block;
  }

  .bio {
    border-bottom: 1px dashed rgba($red, 0.25);
    color: #444;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    p {
      margin: 0;
    }
  }

  #skills {
    border-bottom: 1px dashed rgba($red, 0.25);
    margin-bottom: 20px;
    padding-bottom: 20px;

    .skills {
      .title {
        font-size: 18px;
      }
    }
  }

  .contact {

    h1 {
      font-size: 24px;
      margin: 0 0 0.2em 0;
    }

    textarea {
      background: #eee;
      border: 2px solid #ccc;
      color: #444;
      font-size: 18px;
      height: 220px;
      padding: 4px;
      width: 828px;
    }
  }
}